<div class="navbar__auth">
    @if (isLogged()) {
        <button
            class="navbar__auth-button"
            (click)="openDrawer()"
            [attr.aria-label]="drawerMsg.aria.openButton"
        >
            <i class="pi pi-cog" aria-hidden="true"></i>
        </button>

        @if (isDrawerOpen()) {
            <app-account-drawer
                (close)="closeDrawer()"
                (logout)="onLogout()"
            />
        }

    } @else {
        <button
            class="navbar__auth-button"
            data-test="registerButton"
            [routerLink]="['/register']"
            routerLinkActive="active"
            [attr.aria-label]="authActionsMsg.aria.register"
        >
            {{ authActionsMsg.buttons.register }}
        </button>
        <button
            class="navbar__auth-button"
            data-test="loginButton"
            [routerLink]="['/login']"
            routerLinkActive="active"
            [attr.aria-label]="authActionsMsg.aria.login"
        >
            {{ authActionsMsg.buttons.login }}
        </button>
    }
</div>