<article class="invitation-card" role="listitem">

    <div class="invitation-card__info">
        <h3 class="invitation-card__vehicle-name">{{ invitation().vehicleName }}</h3>

        <p class="invitation-card__owner">
            {{ cardMsg.labels.owner }} <span>{{ invitation().ownerEmail }}</span>
        </p>

        <time
            class="invitation-card__date"
            [attr.datetime]="invitation().invitedAt"
        >
            {{ invitation().invitedAt | date: 'mediumDate' }}
        </time>
    </div>

    <div class="invitation-card__actions">
        <button
            type="button"
            class="invitation-card__button invitation-card__button--accept"
            (click)="onAccept()"
            [attr.aria-label]="cardMsg.aria.accept(invitation().vehicleName)"
        >
            <i class="pi pi-check" aria-hidden="true"></i>
            {{ cardMsg.buttons.accept }}
        </button>

        <button
            type="button"
            class="invitation-card__button invitation-card__button--decline"
            (click)="onDecline()"
            [attr.aria-label]="cardMsg.aria.decline(invitation().vehicleName)"
        >
            <i class="pi pi-times" aria-hidden="true"></i>
            {{ cardMsg.buttons.decline }}
        </button>
    </div>

</article>
