:host {
    display: flex;
    justify-content: center;

    margin: 10vh 5vw;
    padding: 0;
}

// Auth

.auth {
    display: flex;
    flex-direction: column;
    gap: var(--space-0-25);

    width: 100%;
    max-width: 50rem;

    padding: 2rem;

    border-left: 0.5rem solid var(--accent-default);
    border-radius: 0 0.5rem 0.5rem 0;

    background-color: var(--bg-surface-0);
    box-shadow: 0 0.5rem 2.5rem rgba(0, 0, 0, 0.5);

    // Navigation

    &__nav {
        font-size: var(--font-size-xs);
        font-weight: 500;
        color: var(--text-secondary);
    }

    &__link {
        font-weight: 700;
        color: var(--text-secondary);
    }

    // Note

    &__note {
        margin: 0;

        font-weight: 700;
        text-align: end;
        color: var(--text-secondary);
    }
}

// Form

.form {
    width: 100%;

    &__fieldset {
        margin: 0;
        padding: 0;

        border: none;
    }

    &__legend {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--space-1-00);

        width: 100%;

        margin-bottom: 2.5rem;
        padding: 1rem;

        border-bottom: 2px solid var(--bg-surface-100);

        color: var(--text-secondary);
        font-weight: 700;
        font-size: var(--font-size-xl);
        text-align: left;
    }

    &__group {
        display: flex;
        flex-direction: column;

        margin-bottom: var(--space-1-50);
    }

    &__label {
        margin: 0 auto 0.5rem 0.5rem;

        color: var(--text-secondary);
        font-weight: 700;
        font-size: var(--font-size-lg);
    }

    &__input {
        width: 100%;

        padding: var(--space-1-25);

        border: none;
        border-radius: var(--radius-sm);
        outline: none;

        font-size: var(--font-size-base);
        color: var(--text-secondary);

        background-color: var(--bg-surface-200);

        &::placeholder {
            color: var(--text-muted);
        }

        &.ng-invalid.ng-touched {
            box-shadow: 0 0 0 2px var(--border-color-error);
        }
    }

    // Errors

    &__error--field {
        margin: 0;
        padding: 0.5rem;

        border-radius: 0 0 0.5rem 0.5rem;

        color: var(--text-error);
        font-size: var(--font-size-sm);

        opacity: 0.9;
    }

    &__error--submit {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: var(--space-0-50);

        margin: 1rem 0 0;
        padding: 0.5rem;

        border-radius: var(--radius-sm);

        font-size: var(--font-size-sm);
        color: var(--text-inverse);

        background-color: var(--btn-danger-bg);

        opacity: 0.9;
    }

    // Button

    &__submit {
        width: 100%;

        padding: var(--space-1-50);

        border: none;
        border-radius: var(--radius-sm);

        font-weight: 700;
        font-size: var(--font-size-lg);
        color: var(--text-inverse);

        background-color: var(--btn-primary-bg);

        cursor: pointer;
        transition: background-color 0.25s ease;

        &:hover {
            background-color: var(--btn-primary-bg-hover);
        }

        &[disabled] {
            color: var(--text-primary);
            background-color: var(--btn-primary-bg-disabled);

            opacity: 0.9;
            cursor: not-allowed;
        }
    }
}
