.navbar__auth {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* Button */

.navbar__auth-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    padding: 1rem;
    border: none;
    border-radius: var(--radius-md);
    margin: 0;

    background-color: transparent;
    color: var(--color-white);
    font-size: var(--font-size-base);
    font-weight: 500;

    cursor: pointer;
    transition: background-color 0.25s ease, color 0.25s ease;
}

/* States */

.navbar__auth-button:hover {
    color: var(--color-blue-light);
    background-color: var(--color-white);
}

.navbar__auth-button.active {
    background-color: var(--color-blue-dark);
}

.navbar__auth-button.active:hover {
    color: var(--color-white);
}
