.navbar__auth {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-1-00);
}

/* Button */

.navbar__auth-button {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: var(--space-0-50);
    margin: 0;
    padding: 0.75rem 1rem;
    border: 2px solid transparent;
    border-radius: var(--radius-sm);
  
    background-color: transparent;
    color: var(--btn-primary-text);
    font-size: var(--font-size-base);
    font-weight: 500;

    cursor: pointer;
    transition: border-color 0.25s ease;
}

/* Button States */

.navbar__auth-button:hover {
    border-color: var(--btn-primary-outline-bg);
}

.navbar__auth-button.active {
    color: var(--btn-primary-outline-text-hover);
    background-color: var(--btn-primary-outline-bg);
    border-color: var(--btn-primary-outline-bg);
}
