.navbar__auth {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-1-00);
}

/* Button */

.navbar__auth-button {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: var(--space-0-50);
    margin: 0;
    padding: 0.75rem 1rem;
    border: none;
    border: 2px solid var(--btn-primary-bg-transparent);
    border-radius: var(--radius-sm);
  
    background-color: transparent;
    color: var(--btn-primary-text-inverse);
    font-size: var(--font-size-base);
    font-weight: 500;

    cursor: pointer;
    transition: all 0.25s ease;
}

/* States */

.navbar__auth-button:hover {
    color: var(--btn-primary-bg-hover);
    background-color: var(--btn-primary-bg-inverse);
}

.navbar__auth-button.active {
    color: var(--btn-primary-text-inverse);
    background-color: var(--btn-primary-bg-active);
    border: 2px solid var(--btn-primary-bg-active);
}
