/* Toggle Container */

.toggle {
    margin: 0;
    width: 5rem;
    height: var(--space-2-50);
    background: var(--toggle-bg);
    border-radius: 10rem;
    position: relative;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.25);
    transition: background-color 0.25s ease, color 0.25s ease;
}

/* Toggle Thumb & Icon */

.toggle__thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--space-2-00);
    height: var(--space-2-00);
    background: var(--toggle-thumb-bg);
    border-radius: 50%;
    position: absolute;
    top: var(--space-0-25);
    left: var(--space-0-25);
    box-shadow: 0 1px 3px rgba(0,0,0,0.25);
    transition: transform 0.25s ease;
}

.toggle__icon-inner {
    color: var(--toggle-icon);
    transition: color 0.25s ease;
}

/* IsDark State */

.toggle--active {
    background-color: var(--toggle-bg-active);
}

.toggle--active .toggle__thumb {
    transform: translateX(2.5rem);
}

.toggle--active .toggle__icon-inner {
    color: var(--toggle-icon-active);
    transition-delay: 0.05s;
}