:host {
    margin: 0 auto;
    width: 100%;
}

.vehicle-table__container {
    border-collapse: collapse;
    table-layout: fixed;
    padding: 0;
    width: 100%;
}

/* Header */

.vehicle-table__header { 
    padding: 0;
    margin: 0;
    background-color: var(--gray-100);
}
.vehicle-table__header tr {
    border: 1px solid var(--gray-300);
}
.vehicle-table__header th {
    padding: 1.5rem 1.5rem;
    text-align: start;
    text-transform: uppercase;
    font-size: var(--font-size-xs);
    font-weight: 700;
    color: var(--gray-700);
    letter-spacing: 0.05rem;
}
.vehicle-table__actions-header {
    text-align: end;
}

/* Body */

.vehicle-table__body {
    background-color: var(--color-white);
    border: 1px solid var(--gray-300);
}
.vehicle-table__body tr {
    border: 1px solid var(--gray-300);
}
.vehicle-table__body tr:hover {
    background-color: var(--gray-50);
}
.vehicle-table__body td {
    padding: 1.5rem 1.5rem;
    font-size: var(--font-size-sm);
    font-weight: 500;
    color: var(--gray-800);
}

/* Cells */

.vehicle-table__cell-content {
    display: flex;
    align-items: center;
}
.vehicle-table__cell--name .vehicle-table__cell-content {
    flex-direction: column;
    align-items: flex-start;
}
.vehicle-table__cell--actions .vehicle-table__cell-content {
    justify-content: flex-end;
    gap: 0.5rem;
}

.vehicle-table__cell-name,
.vehicle-table__cell-model {
    width: 100%;
    display: block;
    padding: 0;
}
.vehicle-table__cell-name {
    font-weight: 500;
    font-size: var(--font-size-md);
    color: var(--gray-900);
}
.vehicle-table__cell-model {
    font-size: var(--font-size-xs);
}

.vehicle-table__cell-plate {
    background-color: var(--gray-200);
    color: var(--gray-700);
    font-weight: 500;
    font-size: var(--font-size-xs);
    letter-spacing: 0.05rem;
    padding: 0.5rem 1rem;
    border: 1px solid var(--gray-300);
    border-radius: 0.5rem;
}

/* Buttons */

.vehicle-table__action-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-blue-light);
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
    transition: color 0.25s ease-in-out;
    cursor: pointer;
}
.vehicle-table__action-button:hover {
    color: var(--color-blue-dark);
}

/* Column widths */

.vehicle-table__header th:nth-child(1),
.vehicle-table__body td:nth-child(1) {
    width: 50%;
}
.vehicle-table__header th:nth-child(2),
.vehicle-table__body td:nth-child(2) {
    display: none;
}
.vehicle-table__header th:nth-child(3),
.vehicle-table__body td:nth-child(3) {
    text-align: end;
    width: 30%;
}

@media (min-width: 576px) {
    .vehicle-table__header th:nth-child(1),
    .vehicle-table__body td:nth-child(1) {
        width: 55%;
    }
    .vehicle-table__header th:nth-child(2),
    .vehicle-table__body td:nth-child(2) {
        display: table-cell;
        width: 25%;
    }
    .vehicle-table__header th:nth-child(3),
    .vehicle-table__body td:nth-child(3) {
        
        width: 20%;
    }
}