:host {
    margin: 0 auto;
    width: 100%;
}

/* Block */

.vehicle-table {
    border-collapse: collapse;
    table-layout: fixed;
    padding: 0;
    width: 100%;
    min-width: 35rem;
}

/* Structure */

.vehicle-table__header { 
    padding: 0;
    margin: 0;
    background-color: var(--gray-100);
}

.vehicle-table__header .vehicle-table__row {
    border: 1px solid var(--gray-300);
}

.vehicle-table__body {
    background-color: var(--color-white);
    border: 1px solid var(--gray-300);
}

.vehicle-table__body .vehicle-table__row {
    border: 1px solid var(--gray-300);
}

.vehicle-table__body .vehicle-table__row:hover {
    background-color: var(--gray-50);
}

/* Header */

.vehicle-table__header th {
    padding: 1.5rem 1.5rem;
    text-align: start;
    text-transform: uppercase;
    font-size: var(--font-size-xs);
    font-weight: 700;
    color: var(--gray-700);
    letter-spacing: 0.05rem;
}
.vehicle-table__header th.vehicle-table__header-image {
  text-align: center;
}
.vehicle-table__header th.vehicle-table__header-name {
  text-align: start;
}
.vehicle-table__header th.vehicle-table__header-plate {
  text-align: start;
  font-size: var(--font-size-xs);
}
.vehicle-table__header th.vehicle-table__header-actions {
    text-align: end;
}

/* Cells */

.vehicle-table__cell {
    padding: 1rem 1.5rem;
    font-size: var(--font-size-sm);
    font-weight: 500;
    color: var(--gray-800);
}

.vehicle-table__actions {
    display: flex;
    align-items: center;
    justify-content: center;
}
.vehicle-table__actions > * {
    margin: 0;
    padding: 0;
}
.vehicle-table__cell--img {
    text-align: center;
    vertical-align: middle;
}

.vehicle-table__cell--img .vehicle-table__image {
    margin: 0 auto;
    display: block;
}

.vehicle-table__cell--name .vehicle-table__cell-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    gap: 0.125rem;
}

.vehicle-table__cell--actions {
    min-width: 8rem;
}

.vehicle-table__cell--actions .vehicle-table__actions {
    justify-content: flex-end;
    gap: 0.5rem;
}

@media (min-width: 576px) {
    .vehicle-table__cell--name .vehicle-table__cell-content {
        gap: 0rem;
    }
    .vehicle-table__cell--name .vehicle-table__cell-content 
    .vehicle-table__plate {
        display: none;
    }
}

/* Vehicle info */

.vehicle-table__image{
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid var(--gray-300);
    margin: 0;
    padding: 0;
}

.vehicle-table__name {
    font-weight: 500;
    font-size: var(--font-size-md);
    color: var(--gray-900);
}

.vehicle-table__model {
    font-size: var(--font-size-xs);
}

.vehicle-table__name,
.vehicle-table__model {
    width: 100%;
    display: block;
    text-align: start;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.vehicle-table__plate {
    color: var(--gray-700);
    font-weight: 500;
    font-size: var(--font-size-xs);
    letter-spacing: 0.05rem;
}

@media (min-width: 576px) {
    .vehicle-table__plate {
        background-color: var(--gray-200);
        color: var(--gray-700);
        font-weight: 500;
        font-size: var(--font-size-xs);
        letter-spacing: 0.05rem;
        padding: 0.5rem 1rem;
        border: 1px solid var(--gray-300);
        border-radius: 0.5rem;
    }
}

/* Column widths */

.vehicle-table__header-image,
.vehicle-table__cell--img {
    width: 12%;
}

.vehicle-table__header-name,
.vehicle-table__cell--name {
    width: 44%;
}

.vehicle-table__header-plate,
.vehicle-table__cell--plate {
    display: none;
}

.vehicle-table__header-actions,
.vehicle-table__cell--actions {
    width: 44%;
}

@media (min-width: 576px) {

    .vehicle-table__header-image,
    .vehicle-table__cell--img    { width: 7.5%; }

    .vehicle-table__header-name,
    .vehicle-table__cell--name   { width: 50%; }

    .vehicle-table__header-plate,
    .vehicle-table__cell--plate  { display: table-cell; width: 22.5%; }

    .vehicle-table__header-actions,
    .vehicle-table__cell--actions { width: 22.5%; }

}