/* Calendar Actions */

.calendar__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-1-00);
    max-width: 75rem;
    padding: 1rem;
    margin: 0 auto;
}

.calendar__actions app-create-button {
    flex: 0 0 auto;
}
.calendar__actions app-vehicle-selector {
    flex: 1 1 auto;
    min-width: 0;
}

@media (min-width: 768px) {
    .calendar__actions {
        justify-content: space-between;
        padding: 1rem 0;
    }

    .calendar__actions app-vehicle-selector {
        flex: 0 0 auto;
        max-width: 30rem;
    }
}

/* Calendar: View */

.calendar__container {
    padding: 1.5rem;
    max-width: 75rem;
    margin: 0 auto 2rem auto;
    background-color: var(--bg-base);
}

/* Calendar: Month Title */

.calendar__container .fc-toolbar-title {
    font-size: var(--font-size-xl);
    color: var(--text-secondary);
    font-weight: 600;
}

/* Calendar: Navigation Buttons */

.calendar__container .fc-button-group {
    gap: var(--space-1-00);
}

.calendar__container .fc-button.fc-button-primary {
    background-color: var(--btn-secondary-bg);
    border: none;
    color: var(--text-inverse);
    padding: 0.5rem 1rem;
    border-radius: var(--radius-sm);
    font-weight: 700;
}

.calendar__container .fc-button.fc-button-primary:hover {
    background-color: var(--btn-secondary-bg-hover);
}

.calendar__container .fc-button.fc-button-primary:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.calendar__container .fc-today-button.fc-button.fc-button-primary {
    background-color: var(--btn-secondary-bg);
}
.calendar__container .fc-today-button.fc-button.fc-button-primary:hover {
    background-color: var(--btn-secondary-bg-hover);
}
.calendar__container .fc-today-button.fc-button.fc-button-primary:disabled {
    background-color: var(--btn-secondary-bg-disabled);
}
/* Calendar: Weekly Header */

.calendar__container .fc-col-header-cell {
    background-color: var(--bg-surface-600);
    font-weight: 700;
    padding: 1rem;
    text-transform: uppercase;
}

.calendar__container .fc-col-header-cell-cushion {
    text-align: center;
    color: var(--text-inverse);
    font-size: var(--font-size-xs);
}

/* Calendar: Day Cells */

.calendar__container .fc-daygrid-day {
    background-color: var(--bg-base);
    cursor: pointer;
    transition: background-color 0.2s;
    border: 1px solid var(--border-color-default);
}

.calendar__container .fc-daygrid-day:hover {
    background-color: var(--bg-surface-100);
}

.calendar__container .fc-daygrid-day-frame {
    padding: 0;
    margin: 0;
}

.calendar__container .fc-daygrid-day-bottom {
    padding: 0;
    margin: 0;
}

.calendar__container .fc-daygrid-day-number {
    width: 100%;
    padding: 0.5rem;
    margin: 0;
    text-align: center;
    color: var(--text-secondary);
    font-weight: 700;
}


@media (min-width: 768px) {
    .calendar__container .fc-daygrid-day-number {
        text-align: right;
    }
}
/* Calendar: Today */

.calendar__container .fc-daygrid-day.fc-day-today {
    background-color: var(--bg-surface-200);
}

/* Calendar: Dots container */

.calendar__container .fc-daygrid-day-events {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--space-0-25);
    padding: var(--space-0-25);
    min-height: unset;
}

.calendar__container .fc-event.fc-daygrid-event {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    width: auto;
}

.calendar__container .fc-dot-indicator {
    display: block;
    width: var(--space-0-75);
    height: var(--space-0-75);   
    border-radius: 50%;
    background-color: var(--bg-surface-600);
}

.calendar__container .fc-event.fc-daygrid-event:hover .fc-dot-indicator {
    background-color: var(--text-muted);
}

@media(min-width: 768px) {
    .calendar__container .fc-daygrid-day-events {
        gap: var(--space-0-50);
    }
    .calendar__container .fc-dot-indicator {
        width: var(--space-1-00);
        height: var(--space-1-00);
    }
}

/* Calendar: More link */

.calendar__container .fc-daygrid-more-link {
    font-size: var(--font-size-xs);
    color: var(--text-secondary);
    background-color: transparent;
    padding: 0;
    width: auto;
}

.calendar__container .fc-daygrid-more-link:hover {
    background-color: transparent;
    text-decoration: underline;
    color: var(--text-primary);
}

/* Calendar: Empty Events */

.calendar__day-events-empty {
    margin: 2rem auto;
    padding: 2rem;
    text-align: center;
    background-color: var(--bg-base);
    border-radius: var(--radius-sm);
    color: var(--color-text-muted);
    font-size: var(--font-size-lg);
    max-width: 70rem;
    width: auto;
}

/* Calendar: Remove Vertical Scroll */

.calendar__container .fc-scroller,
.calendar__container .fc-scroller-liquid-absolute {
    overflow: hidden;
}

.calendar__container .fc-view-harness {
    height: auto;
}