:root {

    /* Base Colors */
    
    --color-neutral-0:   #ffffff;
    --color-neutral-50:  #f8f9fa;
    --color-neutral-100: #e9ecef;
    --color-neutral-200: #dee2e6;
    --color-neutral-300: #ced4da;
    --color-neutral-400: #adb5bd;
    --color-neutral-500: #6c757d;
    --color-neutral-600: #495057;
    --color-neutral-700: #343a40;
    --color-neutral-800: #212529;
    --color-neutral-900: #000000;

    --color-blue-300: #94B4C1;
    --color-blue-500: #547792;
    --color-blue-700: #213448;

    --color-red-300: #d96a73;
    --color-red-500: #c1121f;
    --color-red-700: #780000;

    --color-yellow-300: #FFF3B0;
    --color-yellow-500: #FFC107;
    --color-yellow-700: #E6A700;

    --color-transparent: transparent;

}