:root {
    --space-0-25: 0.25rem;
    --space-0-50: 0.5rem;
    --space-0-75: 0.75rem;
    --space-1-00: 1rem;
    --space-1-25: 1.25rem;
    --space-1-50: 1.5rem;
    --space-1-75: 1.75rem;
    --space-2-00: 2rem;
    --space-2-25: 2.25rem;
    --space-2-50: 2.5rem;
    --space-2-75: 2.75rem; 
    --space-3-00: 3rem;  
    --space-3-25: 3.25rem;
}

