:root {

    /* Fonts */

    --font-family-base: Arial, Helvetica, sans-serif;

    /* Font Sizes */
    
    --font-size-xs: clamp(1rem, 0.8vw + 1rem, 1.25rem);
    --font-size-sm: clamp(1.25rem, 0.9vw + 1rem, 1.5rem);
    --font-size-base: clamp(1.5rem, 1vw + 1rem, 1.75rem);
    --font-size-lg: clamp(1.75rem, 1.2vw + 1rem, 2.25rem);
    --font-size-xl: clamp(2.25rem, 1.5vw + 1rem, 3rem);


}