
.vehicle-actions {
    width: 100%;
    min-width: 20rem;
    background-color: var(--gray-50);
    padding: 1.25rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border: 1px solid var(--gray-300);
    border-radius: 0.5rem 0.5rem 0 0;
}


/* Shared controls */

.vehicle-actions__input,
.vehicle-actions__select,
.vehicle-actions__button {
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid var(--gray-400);
    font-size: var(--font-size-sm);
    color: var(--gray-700);
    transition: border 0.15s ease;
}

/* Search */

.vehicle-actions__search {
    position: relative;
    flex: 1;
    max-width: 45rem;
}

.vehicle-actions__input {
    width: 100%;
    margin: 0;
    padding: 0.75rem 0.75rem 0.75rem 2.5rem;
}

.vehicle-actions__input:focus {
    outline: none;
    border-color: var(--gray-500);
}

.vehicle-actions__icon {
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--gray-400);
    font-size: var(--font-size-sm);
    pointer-events: none;
}

/* Sort */

.vehicle-actions__sort {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.vehicle-actions__select,
.vehicle-actions__button {
    background-color: var(--gray-100);
    cursor: pointer;
    transition: all 0.05s ease-in-out;
}

.vehicle-actions__select:focus,
.vehicle-actions__button:focus {
    outline: none;
    background-color: var(--gray-200);
}

.vehicle-actions__select:hover,
.vehicle-actions__button:hover {
    background-color: var(--gray-200);
}

.vehicle-actions__button:active {
    background-color: var(--gray-200);
    border-color: var(--gray-500);
}