:host {
    display: block;
    height: 7.5vh;
    background-color: var(--bg-surface-600);

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        width: 95%;
        margin: 0 auto;

        // Actions

        &__actions {
            display: flex;
            align-items: center;
            gap: var(--space-1-00);
        }
    }
}
