<article class="vehicle-button" role="region" aria-labelledby="vehicle-button-title">
    <div class="vehicle-button__info">
        <h2 id="vehicle-button-title" class="vehicle-button__name">{{ vehicle()?.name }}</h2>
        <h3 class="vehicle-button__plate" id="vehicle-plate">{{ vehicle()?.plate }}</h3>
    </div>
    <button 
        class="map__button" 
        (click)="click.emit()" 
        [aria-label]="message.mapCard.accessibility.ariaLabel"
        [title]="message.mapCard.accessibility.title"
    >
        <i class="pi pi-compass" aria-hidden="true"></i>
        Center on Me
    </button>
</article>