<section class="map-view">

    <app-vehicle-selector
        [vehicles]="vehicles()"
        (vehicleSelected)="showVehicle($event)"
        class="map-view__selector"
    />

    <div 
        id="map" 
        class="map-view__map" 
        role="region"
        [attr.aria-label]="mapViewMsg.aria.mapRegion"
        aria-describedby="map-description"
    ></div>
    <p id="map-description" class="sr-only">
        {{ mapViewMsg.aria.mapDescription }}
    </p>

    @if(selectedVehicle()){
        <app-details-panel
            (click)="onUserLocationClick()"
            [vehicle]="selectedVehicle()"
            class="map-view__button--location"
        />
    }

</section>

@if(showConfirmModal()){
    <app-confirm-modal
        [title]="mapViewMsg.confirmModal.title"
        [message]="mapViewMsg.confirmModal.message"
        (confirm)="onConfirmLocationChange()"
        (cancel)="onCancelLocationChange()"
    />
}
