<section class="map-view">

    <app-vehicle-selector
        [vehicles]="vehicles()"
        (vehicleSelected)="showVehicle($event)"
        class="map-view__selector"
    />

    @if(selectedVehicle()){
        <app-vehicle-card-button
            (click)="onUserLocationClick()"
            [vehicle]="selectedVehicle()"
            class="map-view__button--location"
        />
    }

    <div 
        id="map" 
        class="map-view__map" 
        role="region"
        [attr.aria-label]="messages.mapView.ariaLabel"
        aria-describedby="map-description"
    ></div>
    <p id="map-description" class="sr-only">
        {{ messages.mapView.ariaDescribedby }}
    </p>

</section>

@if(showConfirmModal()){
    <app-confirm-modal
        [title]="messages.confirmModal.title"
        [message]="messages.confirmModal.message"
        (confirm)="onConfirmLocationChange()"
        (cancel)="onCancelLocationChange()"
    />
}
