.navbar {
    background-color: var(--bg-primary-500);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 7.5vh;
    padding: 2rem 0;
}

.navbar__links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: var(--space-1-00); 
}

.nav-item a {
    color: var(--btn-primary-bg-inverse);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    padding: 0.75rem;
    border-radius: var(--radius-md);
    border: 2px solid transparent;
    transition: 
        background-color 0.25s ease, 
        border-color 0.25s ease,
}

.nav-item a:hover {
    border: 2px solid var(--btn-primary-bg-inverse);
}

.nav-item a.active {
    border: 2px solid var(--btn-primary-bg-transparent);
    color: var(--btn-primary-bg-active);
    background-color: var(--btn-primary-bg-inverse);
    transform: scale(0.96);
    gap: var(--space-0-50);
}

.nav-item__icon {
    color: var(--btn-primary-bg-inverse);
}

.nav-item a.active .nav-item__icon {
    color: var(--btn-primary-bg-active);
    transform: scale(0.9);
}

.nav-label {
    display: inline-block;
    max-width: 0;
    opacity: 0;
    overflow: hidden;
    white-space: nowrap;
}

.nav-item a.active .nav-label {
    max-width: 10rem;
    opacity: 1;
}

@media(min-width: 576px) {
    .nav-item a {
        padding: 0.5rem;
    }
    .nav-label {
        font-weight: 500;
        font-size: var(--font-size-md);
    }
    .nav-label.active {
        color: var(--btn-primary-bg-active);
    }
}
