/* Backdrop */

.drawer__backdrop {
    position: fixed;
    inset: 0;
    z-index: 100;
    background-color: var(--overlay-start);
    animation: fadeIn 0.2s ease forwards;
}

@keyframes fadeIn {
    from { background-color: var(--overlay-start); }
    to { background-color: var(--overlay-end); }
}

/* Drawer */

.drawer {
    position: fixed;
    top: 0;
    right: 0;
    height: 100dvh;
    width: min(25rem, 65vw);
    background-color: var(--color-white);
    z-index: 101;
    display: flex;
    flex-direction: column;
    animation: slideIn 0.25s ease;
}

@keyframes slideIn {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
}

@media (min-width: 576px) {
    .drawer {
        max-width: 25rem;
    }
}

/* Header */

.drawer__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 1rem;
    border-bottom: 1px solid var(--gray-200);
}

.drawer__title {
    font-size: var(--font-size-md);
    font-weight: 600;
    color: var(--color-blue-dark);
}

.drawer__close {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    color: var(--gray-600);
    font-size: var(--font-size-md);
    cursor: pointer;
    padding: 0.5rem;
    border-radius: var(--radius-md);
    transition: background-color 0.15s ease;
}

.drawer__close:hover {
    background-color: var(--gray-100);
}

/* Body */

.drawer__body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}

.drawer__section {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

/* Body Items */

.drawer__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: var(--radius-md);
    background: transparent;
    font-size: var(--font-size-sm);
    font-weight: 500;
    text-align: start;
    color: var(--gray-800);
    cursor: pointer;
    transition: background-color 0.15s ease;
}

.drawer__item:hover {
    background-color: var(--gray-100);
}

.drawer__item:disabled {
    opacity: 0.9;
    cursor: not-allowed;
}

.drawer__item--danger {
    color: var(--color-red-dark);
    transition: all 0.15s ease-in;
}

.drawer__item--danger:hover {
    background-color: var(--color-red-lighter);
    color: var(--color-white);
}

.drawer__item-content {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 1rem;
}

/* Divider */

.drawer__divider {
    height: 1px;
    background-color: var(--gray-200);
    margin: 0;
}
