/* Backdrop */

.modal__backdrop {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--overlay-backdrop-transparent);
    animation: fadeIn 0.2s ease forwards;
}

@keyframes fadeIn {
    from { background-color: var(--overlay-backdrop-transparent); }
    to { background-color: var(--overlay-backdrop); }
}

/* Form */

.modal__form {
    background-color: var(--color-neutral-100);
    border-radius: var(--radius-sm);
    padding: 2rem;
    max-width: 40rem;
    width: 90%;
    text-align: center;
}

.modal__title {
    font-size: var(--font-size-lg);
    color: var(--text-secondary);
    font-weight: 700;
    margin-bottom: 1rem;
}

.modal__message {
    margin-bottom: 2rem;
    font-size: var(--font-size-base);
}

.modal__actions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: var(--space-1-00);
}

.modal__button {
    background-color: var(--btn-primary-filled-bg);
    color: var(--btn-primary-filled-text);
    padding: 1.5rem 1.5rem;
    border: none;
    border-radius: var(--radius-sm);
    cursor: pointer;
    font-weight: 700;
    font-size: var(--font-size-base);
    transition: background-color 0.25s ease;
}

.modal__button--confirm {
    background-color: var(--btn-danger-bg);
}
.modal__button--confirm:hover:not(:disabled) {
    background-color: var(--btn-danger-bg-hover);
}
.modal__button--confirm:disabled {
    background-color: var(--btn-danger-bg-disabled);
    cursor: not-allowed;
}

.modal__button--cancel {
    background-color: var(--btn-secondary-bg);
}
.modal__button--cancel:hover:not(:disabled) {
    background-color: var(--btn-secondary-bg-hover);
}
.modal__button--cancel:disabled {
    background-color: var(--btn-secondary-bg-disabled);
    cursor: not-allowed;
}

