<article class="map-card" role="region" aria-labelledby="map-card-title">
    <div class="map-card__info">
        <h2 id="map-card-title" class="map-card__name">{{ vehicle()?.name }}</h2>
        <h3 class="map-card__plate" id="vehicle-plate">{{ vehicle()?.plate }}</h3>
    </div>
    <button 
        class="map__button" 
        (click)="click.emit()" 
        [aria-label]="message.mapCard.accessibility.ariaLabel"
        [title]="message.mapCard.accessibility.title"
    >
        <i class="pi pi-compass" aria-hidden="true"></i>
        Center on Me
    </button>
</article>