<article 
    class="map-card" 
    role="region" 
    aria-labelledby="map-card-title" 
    [attr.aria-label]="detailsPanelMsg.aria.region"
>
    <div class="map-card__info">
        <h2 id="map-card-title" class="map-card__name">{{ vehicle()?.name }}</h2>
        <h3 class="map-card__plate" id="vehicle-plate">{{ vehicle()?.plate }}</h3>
    </div>
    <button 
        class="map-card__button" 
        (click)="click.emit()" 
        [aria-label]="detailsPanelMsg.aria.button" 
        [title]="detailsPanelMsg.aria.buttonTitle" 
    >
        <i class="map-card__button-icon pi pi-compass" aria-hidden="true"></i>
        {{ detailsPanelMsg.button }}
    </button>
</article>