.chart-wrapper {
    position: relative;
    height: 40rem;
    width: 100%;
    margin: 0 auto;
    border-radius: var(--space-0-50);
    padding: 1rem;
    background-color: var(--bg-base);
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

@media(min-width: 768px) {
    .chart-wrapper {
        height: 30rem;
    }
}
