<label for="vehicle-select" class="sr-only">{{ selectorMsg.label }}</label>
<select
  id="vehicle-select"
  class="vehicle-select"
  [value]="selectedPlate() ?? ''"
  (change)="onVehicleChange($event)"
  aria-required="true"
>
  <option class="vehicle-select__option" value="">
    {{ selectorMsg.allVehiclesOption }}
  </option>
  @for (vehicle of vehicles(); track vehicle.plate) {
    <option
      class="vehicle-select__option"
      [value]="vehicle.plate"
    >
      {{ vehicle.name }}
    </option>
  }
</select>
